*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --btn-color: #333333;
    --text-color:#18100b;
    --back-btn-color:#ff5906;
}

header{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: var(--text-color);
    color:white;
    padding: 10px;
}
.close-cart{
    border:1px solid red;
}


.pagos-container{
    border:solid 1px green;
    height: auto;
    display: flexbox;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    /* display:; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}
.cantdad-precio-container{
    border:solid purple 1px;
    
}

.boton{
   border: none; 
   max-height: 100px;
   display: flex;
   align-items: center;
   /* justify-content: center; */
   max-width: auto;
   margin: auto;
   border-radius: 5px;
   background-color: var(--back-btn-color);
   padding-right: 15px;
}
.boton:hover{
 
    cursor: pointer;
}

.carrito-boton.wsp{
     
}