*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-size: 1em; */
}
:root{
    /* --ok-color:#007bff;
    --ok-button-color:#7f9fc073;
    --cancel-color:#343a40;
    --text-color:#ffffff;
    --shaders-color:#9fa8b1;
    --logo-strong-color:black; */
    /* new colors*/
    --header-background-color:#132743;
    --black-copy-header-color:#211222;
    --section-back-color:#a7a397;
    --header-text-strong:#edc988;
    --main-h2-text-color:#f8efd4;
    --line-header-color:#67ff2b8f;
}
#header{
    background-color: var(--header-background-color);
    text-align: center;
}
#header h1 strong{
    color:var(--main-h2-text-color);
}
/* -------------------span */
#header span strong{
    color:var(--header-text-strong);
}

#page-name{
    margin:0;
}


/* header section contacto */
.header-contacto-div{
    display:flex;
    justify-content: space-between;
}
/* logo section */
.logo{
    width: 170px;
    height: auto;
    /* border: 1px solid red; */
    color:var(--header-text-strong);
    
}

/* span con el numero de celular */
.celular-text-color{
    color:var(--header-text-strong);
    cursor: pointer;
}
.celular-text-color a{
    text-decoration: none;
}
/* centrando el numero de celular en el header */
.centrar-numero{
    display:flex;
    align-items: center;
}

/* tamaño del icono de wsp en el header */
.contact-icon-size-wsp{
    max-width: 30px;
    max-height: 30px;
    /* margin-left: 5px; */
    /* display: flex; */
}




/* -------------------------------------------------------------------------main section */
    /* .section-cards{
        display:flex;
    } */





/* slide */

.slide-img-items{
    /* display: none; */
    vertical-align: middle;
    
}


/* cards */

.cards{
    /* cards en general */
    display: block;
    overflow-x: hidden; 
    overflow-y: auto;
    margin:5px;
    
    
}
.card{
    /* separacion entre cards */
    /* cada una de las cards */
    margin: 0 5px 10px 5px;
    border:solid 1px green;
}

.button-margin{
    margin: 0 0 5px 0;
}

/* ----------------------------- setion h2 en adelante */
.sub-tittle-color{
    background-color: var(--black-copy-header-color);
}
.sub-tittle-color h2{
    margin: 0;
    color:var(--main-h2-text-color);
}




/* -------------------contacto section */
.contacto-body{
    background-color: var(--header-background-color);
    max-height: 100px;
}


.contacto-body h3{
    margin: 0;
    color: var(--header-text-strong);
}


/* contact icon social  */
.contacto-icons-container{
    /* display:flex; */
    /* justify-content: space-around; */
    margin: 0 auto;
    display: flex;
    /* padding:10px; */
}
.contact-icon-size{
    max-width: 25px;
    max-height: 35px;
    /* margin-left: 5px; */
    display: flex;
}


.figure-display-change{
    display:flex;
    color:var(--header-text-strong);
    /* justify-content: space-between; */
    /* margin: 15px 0 0 0; */
}
/* figcaption del header, justamente del #celular */
.figcaption-change{
    display:flex;
    align-items: center;
}
.quitar-subrayado{
    text-decoration: none !important ;
}

/*----------------- fooooooter section *


