*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-size: 1em; */
}
html body h3{
    margin:0;
}
:root{
    /* --ok-color:#007bff;
    --ok-button-color:#7f9fc073;
    --cancel-color:#343a40;
    --text-color:#ffffff;
    --shaders-color:#9fa8b1;
    --logo-strong-color:black; */
    /* new colors*/
    --header-background-color:#132743;
    --header-color-traslucido:#0e1d3191;
    --black-copy-header-color:#211222;
    --section-back-color:#a7a397;
    --header-text-strong:#edc988;
    --header-text-strong-catego:#edca88a9;
    --main-h2-text-color:#f8efd4;
    --line-header-color:#67ff2b8f;
}
#header{
    background-color: var(--header-background-color);
    text-align: center;
}
#header h1 strong{
    color:var(--main-h2-text-color);
}
/* -------------------span */
#header span strong{
    color:var(--header-text-strong);
}

#page-name{
    margin:0;
}


/* header section contacto */
.header-contacto-div{
    display:flex;
    justify-content: space-between;
}
/* logo section */
.logo{
    width: 170px;
    height: auto;
    /* border: 1px solid red; */
    color:var(--header-text-strong);
    
}

/* span con el numero de celular */
.celular-text-color{
    color:var(--header-text-strong);
    cursor: pointer;
}
.celular-text-color a{
    text-decoration: none;
}
/* centrando el numero de celular en el header */
.centrar-numero{
    display:flex;
    align-items: center;
}

/* tamaño del icono de wsp en el header */
.contact-icon-size-wsp{
    max-width: 30px;
    max-height: 30px;
    /* margin-left: 5px; */
    /* display: flex; */
}



/*--------------------- seccion de las categorias */
.h2-tupper-catego{
    text-align: center;
    background-color: var(--header-color-traslucido);
    color: var(--main-h2-text-color);
    margin: 0;
}
.categoria-1-padre{
    background-image: url(./img/jpegs/tarros/img-jpgs/tarro-calaveras-colores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 200px;
    background-position-y: center;
    box-shadow: 2px 2px 6px  var(--header-color-traslucido);
    margin:20px 0;
    padding: 40px 0;
    border-radius: 10px;

}
.h3-categoria{
    color: var(--header-background-color);
    background-color: var(--header-text-strong-catego);
    width: 100%;
    text-align: center;
    /* border-radius: 5px; */
}
.span-border{
    border:1px solid var(--header-background-color);
    margin: 0 5px 5px 0;
    border-radius: 5px;
    
}
.span-border a{
    text-decoration: none;
}
.span-border:hover{
    cursor:pointer;
   
    background-color: var(--header-text-strong-catego);
    color: var(--header-background-color)
} 

/* -------------------contacto section */
.contacto-body{
    background-color: var(--header-background-color);
    max-height: 100px;
}


.contacto-body h3{
    margin: 0;
    color: var(--header-text-strong);
}


/* contact icon social  */
.contacto-icons-container{
    /* display:flex; */
    /* justify-content: space-around; */
    margin: 0 auto;
    display: flex;
    /* padding:10px; */
}
.contact-icon-size{
    max-width: 25px;
    max-height: 35px;
    /* margin-left: 5px; */
    display: flex;
}


.figure-display-change{
    display:flex;
    color:var(--header-text-strong);
    /* justify-content: space-between; */
    /* margin: 15px 0 0 0; */
}
/* figcaption del header, justamente del #celular */
.figcaption-change{
    display:flex;
    align-items: center;
}
.quitar-subrayado{
    text-decoration: none !important ;
}

/*----------------- fooooooter section *


