

html *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --btn-color:#18100b;
    --back-btn-color:#ff5906;
}

/* header stilos en linea */
/* style="margin: 43px  0 0 0;  text-align:bottom;" */
.icono-menu{
    margin:43px 0 0 0;
    text-align: bottom;
}

.main-container-logo{
    display: flex;
    justify-content: space-around;
}
/* ---------------------------header section menu y carrito de compras */
.icons-container{
/* hacer el contenedor mas grande y acomodar los iconos para que tengasn un margen y se vean bien */
    display:flex;
    justify-content: space-around;
    /* align-items: center; */
/* display: flex; */
/* justify-content: space-around; */
/* align-items: center; */

}
.menu{
    color: white;
    /* margin:20px !important; */
    
}

/* menu tipo "cortina" */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

 /* The Overlay (background) */
 .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }   

/* el carrito no puede tener hover ya que es una .png */

.cart-icon{
    margin: 40px  0 0 0; 
      
    text-align:center; 
    
} 







.categoria-titulo{
    background-color: var(--back-btn-color);
    display:flex;
    align-items: center;
    /* justify-content: space-betwee; */
}
.categoria-name{
    margin-left:30px;
    font-size: large;
    color: var(--btn-color);
    text-align: center;
    display: inherit;
    justify-content: center;
    /* border:1px solid red; */
}

.main-container{
    /* display: flex;  */
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.card{
    margin: 10px auto;
    max-height: auto;
    max-width: 300px;
}
.card figure{
    margin:0;
}
.card figure img{
    max-width: auto;
    max-height: 150px;
}
/* .card-detalles-main{
    display:flex;
    
} */

.detalles-span{
    border-radius: 5px 5px 0 0;
    background: linear-gradient(to bottom, #f8f2efb7 ,#f1e9e5b9  )!important;
    color: var(--btn-color);
}
/* estilos de la section ver mas detalles y contador */
.detalles-contador{
    display:flex;
    justify-content: space-around;
}
.btn-detalles-card{
    background-color: var(--btn-color);
    color: white;
    border-radius: 5px;
    border: none;
    width: 100px;
    padding:  5px 3px;
}
.contador{
    padding:  5px 3px;
}

/* colores dentro de las cartas  */
/* #card-color-blue{
    background-color: blue;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
#card-color-red{
    background-color: rgb(238, 15, 34);
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
#card-color-green{
    background-color: rgb(16, 204, 41);
    border-radius: 50px;
    width: 20px;
    height: 20px;
} */
/* .card-color-display{
     display: flex; 
} */
/* .colores-margin{
    margin:5px;
} */
.detalles-btn{
    border-radius: 5px;
    color: var(--btn-color);
    background-color: #ff5906;
    padding:  5px 3px;
    margin: 5px 0 0 0;
    width: 100%;
}

@media screen and (min-width:378px){

    .main-container{
        /* border:1px solid red !important; */
        display: flex; 
        /* justify-content: center; */
        
         /* justify-content: center; */
        /*max-width: 100%;
        align-items: center;
        text-align: center; */
    }
    .card{
        /* margin: 10px 10px; */
        /* max-height: auto; */
        /* max-width: auto; */
    }
    .btn-detalles-card{
        margin:5px 5px 0 5px;
    }
    .detalles-contador{
        margin: 5px 5px 0 5px;
    }
}





/* -------------------------------------------------------------------- efecto flip de las tarjetas */


/* Asignamos perspectiva a nuestro contenedor */
.flip-container {
    /* margin: 0 auto; */
    perspective: 1000;
    border: 1px solid rgb(34, 36, 150);
    /* Para Firefox - IE10+ debemos agregar propiedades extras */ 
     -webkit-transform-style: preserve-3d;
    -webkit-transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -webkit-transform: perspective(1000px);
   
}
    
   .flip-container { 
     /* width: 280px; */
     
   } 
   
  /* preserve-3d: Indicamos que todo elemento hijo del div flipper estara en un espacio 3D XYZ  */
  .flipper {
    transition: 0.3s;
    
    /* position: relative; */

  }
   
 .back {
    /* Backface: Nos permite ocultar la parte posterior de los elementos html */
    /* en este caso FRONT - BACK */
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
  }
   
  /* FRONT: eje Y = 0   */
  .front {
    transform: rotateY(0deg);
    background: #bcea67;
  }
   
  /* BACK: eje Y = -180, se mantendra oculto */
  .back {
    transform: rotateY(-180deg);
    background: #ffdd54;
  }





	

/* Hover */
.flipp-container .front {
  transform: rotateY(180deg);
}
.flip-container .back {
  transform: rotateY(0deg);
}
/* Toggle - Moviles */
.flip-container .front {
  transform: rotateY(180deg);
}
.flip-container .back {
  transform: rotateY(0deg);
}