html *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --btn-color:#18100b;
    --back-btn-color:#ff5906;
}

/* header stilos en linea */
/* style="margin: 43px  0 0 0;  text-align:bottom;" */
.icono-menu{
    margin:43px 0 0 0;
    text-align: bottom;
}

.main-container-logo{
    display: flex;
    justify-content: space-around;
}
/* ---------------------------header section menu y carrito de compras */
.icons-container{
/* hacer el contenedor mas grande y acomodar los iconos para que tengasn un margen y se vean bien */
    display:flex;
    justify-content: space-around;
    /* align-items: center; */
/* display: flex; */
/* justify-content: space-around; */
/* align-items: center; */

}
.menu{
    color: white;
    /* margin:20px !important; */
    
}
/* el carrito no puede tener hover ya que es una .png */

.cart-icon{
    margin: 40px  0 0 0; 
      
    text-align:center; 
    
} 









.main-container{
    display: flex; 
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.card{
    margin: 10px;
    max-height: auto;
    max-width: 300px;
}
.card figure{
    margin:0;
}
.card figure img{
    max-width: auto;
    max-height: 150px;
}
/* .card-detalles-main{
    display:flex;
    
} */

.detalles-span{
    border-radius: 5px 5px 0 0;
    background: linear-gradient(to bottom, #f8f2efb7 ,#f1e9e5b9  )!important;
    color: var(--btn-color);
}
/* colores dentro de las cartas  */
/* #card-color-blue{
    background-color: blue;
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
#card-color-red{
    background-color: rgb(238, 15, 34);
    border-radius: 50px;
    width: 20px;
    height: 20px;
}
#card-color-green{
    background-color: rgb(16, 204, 41);
    border-radius: 50px;
    width: 20px;
    height: 20px;
} */
/* .card-color-display{
     display: flex; 
} */
/* .colores-margin{
    margin:5px;
} */
.detalles-btn{
    border-radius: 5px;
    color: var(--btn-color);
    background-color: #ff5906;
    padding:  5px 3px;
    margin: 5px 0 0 0;
    width: 100%;
}

@media screen and (min-width:370px){

    .main-container{
        /* border:1px solid red !important; */
        display: flex; 
        /* justify-content: center; */
        
         /* justify-content: center; */
        /*max-width: 100%;
        align-items: center;
        text-align: center; */
    }
    .card{
        /* margin: 10px; */
        /* max-height: auto; */
        max-width: auto;
    }
}
